.block-skill_reverse {
  background-color: #eeeeee;
  color: #000;
}
.block-skill_reverse-line {
  background-image: url(/img/h_line.png);
  background-repeat: no-repeat;
  background-size: 95%;
  background-position-x: center;
  background-position-y: bottom;
}
