.block-boxes {
  margin-top: 25px;
}

.block-boxes__item {
  font-size: 14px;
  color: #333;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  text-transform: uppercase;
}

.block-boxes__item-cont {
  margin-left: 15px;
}
.block-boxes__name {
  font-size: 18px;
  color: #000;
}

@media (min-width: 768px) {
  .block-boxes__item {
    width: 33.3333%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    text-align: center;
  }
  .block-boxes {
    width: 100%;
    height: 330px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    margin-top: 0;
  }
  .block-boxes__item-cont {
    margin: 0;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    padding: 0 14%;
  }
  .block-boxes__item-cont_food {
    padding: 0 18%;
  }
  .block-boxes__name {
    font-size: 21px;
  }
  .block-boxes__item_gift {
    order: 1;
  }
}
