.content {
  min-width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-content: center;
  text-align: center;
  text-transform: uppercase;
}

.content__title {
  font-size: 18px;
  padding: 0 15px;
}

.content__text {
  font-size: 14px;
  color: #333;
}

@media (min-width: 768px) {
  .content {
    height: 205px;
    justify-content: center;
  }
  .content-wrapper {
    margin-top: -40px;
  }
  .content__title {
    font-size: 21px;
    padding: 0 65px;
  }
  .content__title_fpage {
    font-size: 30px;
  }
  .content__text_fpage {
    padding: 0 21%;
  }
}
