.content {
  min-width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-content: center;
  text-align: center;
  text-transform: uppercase;
}

.content__title {
  font-size: 18px;
}

.content__text{
  font-size: 14px;
}