.feedback-form__attraction {
  background-image: url(../img/h_line.png);
  background-repeat: repeat-x;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-top: 25px;
}
.feedback-form__attraction-checkbox {
  width: 130px;
  font-size: 18px;
  font-weight: bold;
  height: 58px;
  display: block;
  padding-left: 4.5em;
  color: #000;
  line-height: 3.1em;
  margin: 6.25px 0 6.25px 20px;
}
.feedback-form__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.checkbox {
  position: absolute;
  width: 3.2em;
  height: 3.2em;
  margin-left: -4.5em;
  background-image: url(../img/checkbox_mob.png);
  background-repeat: no-repeat;
}
.feedback-form__checkbox:focus + .checkbox {
  outline-width: 2px;
  outline-style: solid;
  outline-color: aqua;
  outline-offset: -1px;
}
.feedback-form__checkbox:checked + .checkbox {
  background-image: url(../img/checkbox_checked_mob.png);
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .feedback-form__attraction {
    width: 100%;
    background-image: none;
    justify-content: center;
    margin-top: 55px;
  }
  .feedback-form__item_attraction {
    width: 61.4197%;
  }
  .feedback-form__attraction-checkbox {
    width: 130px;
    margin: 20px 25px;
  }
}
@media (min-width: 1200px) {
  .feedback-form__attraction {
    justify-content: space-between;
  }
  .feedback-form__item_attraction {
    width: 39.1306%;
  }
  .feedback-form__attraction-checkbox {
    width: max-content;
    margin: 20px 0;
  }
}
