.feedback-form__contacts {
  order: -1;
  background-image: url(/img/h_line.png);
  background-repeat: repeat-x;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  margin-top: 25px;
}
.feedback-form__contacts-input {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  background-color: #fff;
}
.feedback-form__contacts-input-name {
  min-width: min-content;
  display: block;
  color: #333;
  font-size: 14px;
  text-transform: uppercase;
  margin: 20px 0 0 35px;
}
.feedback-form__input-phone {
  color: #000;
  font-size: 18px;
  font-weight: bold;
  height: 58px;
  background-image: url(/img/phone_input_mob.png);
  background-position-x: right;
  background-repeat: no-repeat;
  margin-top: 15px;
}
.feedback-form__input-email {
  color: #000;
  font-size: 18px;
  font-weight: bold;
  height: 58px;
  background-image: url(/img/email_input_mob.png);
  background-position-x: right;
  background-repeat: no-repeat;
  margin-top: 15px;
}

@media (min-width: 768px) {
  .feedback-form__contacts {
    width: 100%;
    flex-flow: row wrap;
    background-image: none;
    margin-top: 70px;
  }
  .feedback-form__contacts-input {
    width: 100%;
  }
  .feedback-form__rowline {
    display: block;
  }
  .feedback-form__item_contacts {
    width: 61.4197%;
  }
}
@media (min-width: 1200px) {
  .feedback-form__contacts {
    justify-content: space-between;
  }
  .feedback-form__item_contacts {
    width: 39.1306%;
  }
  .feedback-form__contacts-input-name {
    display: block;
    margin: 0  18px 0 0;
  }
  .feedback-form__contacts-input-name_hide {
    display: none;
  }

  .feedback-form__contacts-input {
    width: 50%;
    flex-flow: row nowrap;
    justify-content: flex-start;
    line-height: 5.7em;
    
  }
  .feedback-form__input-phone {
    width: 315px;
    box-sizing: border-box;
  }
  .feedback-form__input-email {
    width: 315px;
    box-sizing: border-box;
  }
}
